# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Entornos virtuales
.venv/
venv/

# Sistema
.DS_Store

# Archivos temporales de Excel abiertos
~$*.xlsx

# Archivos temporales de Excel abiertos (libros con macros)
~$*.xlsm
